# Constraints for Papilio Pro
NET switch1(0)    LOC = "P114" | IOSTANDARD=LVTTL;
NET switch1(1)    LOC = "P115" | IOSTANDARD=LVTTL;
NET switch1(2)    LOC = "P116" | IOSTANDARD=LVTTL;
NET switch1(3)    LOC = "P117" | IOSTANDARD=LVTTL;
NET switch2(0)    LOC = "P118" | IOSTANDARD=LVTTL;
NET switch2(1)    LOC = "P119" | IOSTANDARD=LVTTL;
NET switch2(2)    LOC = "P120" | IOSTANDARD=LVTTL;
NET switch2(3)    LOC = "P121" | IOSTANDARD=LVTTL;
#

NET sdSeg(0)     LOC = "P75"  | IOSTANDARD=LVTTL;
NET sdSeg(1)     LOC = "P83"  | IOSTANDARD=LVTTL;
NET sdSeg(2)     LOC = "P66"  | IOSTANDARD=LVTTL;
NET sdSeg(3)     LOC = "P67"  | IOSTANDARD=LVTTL;
NET sdSeg(4)     LOC = "P58"  | IOSTANDARD=LVTTL;
NET sdSeg(5)     LOC = "P61"  | IOSTANDARD=LVTTL;
NET sdSeg(6)     LOC = "P81"  | IOSTANDARD=LVTTL;
NET sdAN(0)      LOC = "P85"  | IOSTANDARD=LVTTL;
NET sdAN(1)      LOC = "P79"  | IOSTANDARD=LVTTL;
NET sdAN(2)      LOC = "P56"  | IOSTANDARD=LVTTL;
NET sdAN(3)      LOC = "P48"  | IOSTANDARD=LVTTL;

#
NET "clk" LOC = "P94" | IOSTANDARD=LVCMOS25;

