# Constraints for Papilio Pro
NET switches(0) LOC = "P114" | IOSTANDARD=LVTTL;
NET switches(1) LOC = "P115" | IOSTANDARD=LVTTL;
NET switches(2) LOC = "P116" | IOSTANDARD=LVTTL;
NET switches(3) LOC = "P117" | IOSTANDARD=LVTTL;
NET switches(4) LOC = "P118" | IOSTANDARD=LVTTL;
NET switches(5) LOC = "P119" | IOSTANDARD=LVTTL;
NET switches(6) LOC = "P120" | IOSTANDARD=LVTTL;
NET switches(7) LOC = "P121" | IOSTANDARD=LVTTL;

#
#NET LEDs(0)     LOC = "P123" | IOSTANDARD=LVTTL;
#NET LEDs(1)     LOC = "P124" | IOSTANDARD=LVTTL;
#NET LEDs(2)     LOC = "P126" | IOSTANDARD=LVTTL;
#NET LEDs(3)     LOC = "P127" | IOSTANDARD=LVTTL;
#NET LEDs(4)     LOC = "P131" | IOSTANDARD=LVTTL;
#NET LEDs(5)     LOC = "P132" | IOSTANDARD=LVTTL;
#NET LEDs(6)     LOC = "P133" | IOSTANDARD=LVTTL;
#NET LEDs(7)     LOC = "P134" | IOSTANDARD=LVTTL;

#
NET "clk"       LOC = "P94" | IOSTANDARD=LVCMOS25;

# For the sevensegdisplay
NET sdSeg(0)     LOC = "P75"  | IOSTANDARD=LVTTL;
NET sdSeg(1)     LOC = "P83"  | IOSTANDARD=LVTTL;
NET sdSeg(2)     LOC = "P66"  | IOSTANDARD=LVTTL;
NET sdSeg(3)     LOC = "P67"  | IOSTANDARD=LVTTL;
NET sdSeg(4)     LOC = "P58"  | IOSTANDARD=LVTTL;
NET sdSeg(5)     LOC = "P61"  | IOSTANDARD=LVTTL;
NET sdSeg(6)     LOC = "P81"  | IOSTANDARD=LVTTL;
NET sdAN(0)      LOC = "P85"  | IOSTANDARD=LVTTL;
NET sdAN(1)      LOC = "P79"  | IOSTANDARD=LVTTL;
NET sdAN(2)      LOC = "P56"  | IOSTANDARD=LVTTL;
NET sdAN(3)      LOC = "P48"  | IOSTANDARD=LVTTL;
