NET "clk"            LOC="P94"  | IOSTANDARD=LVCMOS25 | PERIOD=31.25ns;               # CLK
#NET "rx"             LOC="P101" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # RX
NET "tx"             LOC="P105" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST; # TX


NET SWITCH(0)      LOC="P114" | IOSTANDARD=LVTTL;                                # C0
NET SWITCH(1)      LOC="P115" | IOSTANDARD=LVTTL;                                # C1
NET SWITCH(2)      LOC="P116" | IOSTANDARD=LVTTL;                                # C2
NET SWITCH(3)      LOC="P117" | IOSTANDARD=LVTTL;                                # C3

NET JOY_SELECT     LOC="P47"  | IOSTANDARD=LVTTL;

#NET SWITCH(4)      LOC="P118" | IOSTANDARD=LVTTL;                                # C4
#NET SWITCH(5)      LOC="P119" | IOSTANDARD=LVTTL;                                # C5
#NET SWITCH(6)      LOC="P120" | IOSTANDARD=LVTTL;                                # C6
#NET SWITCH(7)      LOC="P121" | IOSTANDARD=LVTTL;                                # C7

